@import "tailwindcss";
.active-style {
  position: relative;
  color: #f97316; /* orange-500 */
  font-weight: 700;
}

.active-style::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f97316;
  animation: underline 0.3s ease-in-out;
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}
